body {
    padding: 0;
    margin: auto 0;
}

.centrarh1 {
    text-align: center;
}

.centrarh2 {
    text-align: center;
}

.centrarh3 {
    text-align: center;
}

.centrarh4 {
    text-align: center;
}

.box {
    display: flex;
    align-items: center;
    justify-content: center;
}

.center {
    margin: auto;
    width: 50%;
}